#!/bin/bash
#Author: shunxiang cao
#Organization: 云栖工程院

## etcd集群
ETCDCTL_API=3 {{ etcd_work_dir }}/bin/etcdctl \
--cacert={{ etcd_work_dir }}/tls/etcd_ca.pem \
--cert={{ etcd_work_dir }}/tls/etcd_server.pem \
--key={{ etcd_work_dir }}/tls/etcd_server-key.pem \
--endpoints={% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
snapshot save `date +%Y-%m-%d`-etcd_back.db
