{% set num=cert_hosts.etcd | length %}
{
    "CN": "etcd Server",
    "hosts": [
    {% for ip in cert_hosts.etcd %}
      {% if num == loop.index %}
        "{{ ip }}"
      {% else %}
        "{{ ip }}",
      {% endif %}
    {% endfor %}
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "Zhejiang",
            "ST": "Hangzhou"
        }
    ]
}
